
@font-face {
    font-family: 'gloriola_stdlight';
    src: url('../fonts/gloriola_std_light-webfont-webfont.eot');
    src: url('../fonts/gloriola_std_light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gloriola_std_light-webfont-webfont.woff') format('woff'),
         url('../fonts/gloriola_std_light-webfont-webfont.ttf') format('truetype'),
         url('../fonts/gloriola_std_light-webfont-webfont.svg#gloriola_stdlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloriola_stddisplay_thin';
    src: url('../fonts/gloriola_display_thin-webfont-webfont.eot');
    src: url('../fonts/gloriola_display_thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gloriola_display_thin-webfont-webfont.woff') format('woff'),
         url('../fonts/gloriola_display_thin-webfont-webfont.ttf') format('truetype'),
         url('../fonts/gloriola_display_thin-webfont-webfont.svg#gloriola_stddisplay_thin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omneslight';
    src: url('../fonts/omnes-light-webfont.eot');
    src: url('../fonts/omnes-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-light-webfont.woff') format('woff'),
         url('../fonts/omnes-light-webfont.ttf') format('truetype'),
         url('../fonts/omnes-light-webfont.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes_regularregular';
    src: url('../fonts/omnes-regular-webfont.eot');
    src: url('../fonts/omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-regular-webfont.woff') format('woff'),
         url('../fonts/omnes-regular-webfont.ttf') format('truetype'),
         url('../fonts/omnes-regular-webfont.svg#omnes_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}